.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  width: 500px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  &__input,
  &__button {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
  }
  &__title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
  }
  &__group {
    position: relative;
    margin-bottom: 32px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: #9e9e9e;
    transition: 0.3s;
  }

  &__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;


  }
  &__input:focus {
    border-bottom: 1px solid #1a73a8;
  }
  &__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  &__button:focus,
  &__button:hover {
    background-color: rgba(0, 113, 240, 0.7);
  }

  &__input:focus ~ .form__label,
  &__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
  }
  &__auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__create-account{
    font-size: 12px;
  }
}



@media screen and (max-width: 600px) {
  .form {
    height: 400px;
  }
  .form__title {
    margin-bottom: 50px;
  }
  .form__input {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .form__button{
    font-size: 18px;
  }
}
