.device {
  font-family: 'Inter', sans-serif;

  &__block {
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 15px;

    &:hover {
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
  }

  &__info {
    padding: 0 1em 1em 1em;
  }

  &__name {
  opacity: 0.8;
  }

  &__image {
    margin: 1.25em 0;
  }

  &__image-block {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    font-weight: 600;
    font-size: 1.25em;
  }

  &__rating {
    margin-left: 0.625em;
    display: flex;
    align-items: center;
  }


}
