.devices {
  &__types {
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: white;
      background: black;
      border: 1px solid black;
    }
  }

  &__brands {
    cursor: pointer;
    padding: 1rem;
    width: auto;
    //border: 1px solid #ccc;
    margin: 0 0.5rem;
    border-radius: 5px;

  }
}
