.device-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Inter", sans-serif;

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    font-size: 2em;
    font-weight: 600;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
  }
  &__text {
    margin-bottom: 1.25em;
  }
  &__buy > svg {
    height: 18px;
    width: 18px;
    margin-right: 0.3125em;
  }
  &__buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    padding: 0.625em;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
  }

  &__buy:hover {
    color: white;
    background-color: black;
  }

  &__buy:hover > svg {
    fill: white;
  }
}
.info__price {
  margin-right: 0.625em;
  font-weight: 600;
}
