$back-color: #f5f5f5;
$icon-size: 24px;
$icon-height: 60px;
$border-radius: 0.5;
$hover-icons: #ccc;

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.header {
  padding: 1.875em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__hidden-menu{
    display: none;
  }
  &__hidden-menu> svg{
    display: none;
  }
  &__logo {
    width: 170px;
    height: 21px;
    & > a {
      width: 100%;
      height: 100%;
      display: block;
      background: url("../../public/assets/logo.png") no-repeat;
      background-size: contain;
    }

  }

  .nav {
    display: flex;
    list-style: none;

    &__item {
      padding: 0 1em;
    }

    &__link {
      font-size: 0.875rem;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 0;

      &:hover,
      &:active {
        // letter-spacing: 2px;
      }
      &::after{
        backface-visibility: hidden;
        border: 1px solid rgba(#000, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
      }
      &:hover:after,
      &:hover:before {
        backface-visibility: hidden;
        border-color: #000;
        transition: width 350ms ease-in-out;
        width: 70%;
      }
      &:hover:before {
        backface-visibility: hidden;
        border-color: #000;
        transition: width 350ms ease-in-out;
        width: 70%;
      }
    }
  }
  .support {
    display: flex;
    align-items: flex-end;
    &__arrow {
      position: relative;
      bottom: 0.625em;
      margin-left: 0.4375em;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  &__icons > svg{
    margin: 0 0.5625em;
    width: $icon-size;
    fill: #000;
    transition: all 0.1s ease-in;
    cursor: pointer;

    &:hover{
      fill: $hover-icons;
    }
  }
}

.hide-icons{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .header{
    &__hidden-menu > svg{
      position: relative;
      top: 0.21em;
      display: block;
      width: $icon-size;
      transition: all 0.3s ease-in-out;
      fill: #000;
      cursor: pointer;

      &:hover{
        transform: rotate(90deg);
        fill: $hover-icons;
      }
    }
    &__nav,
    &__icons{
      display: none;
    }


  }
}
